.DS_Store
.idea
vendor
cloudfunctions/go.sum
logs
1.json
local_test.go
local1_test.go
local2_test.go
local3_test.go
/aws/cron/smirrorcron
/aws/sns/smirrorsns
/aws/sqs/smirrorsqs
scratchpad
scratchpad/
local_test.go
*.tar.gz
bqtail/bqtail